<h2>This Is A Page For Editing: <%= @figure.name %></h2>
<form action="/figures/<%= @figure.id %>" method="post">
    <input type="hidden" name="_method" value="patch" >
    <label>Name: </label><br>
    <input type="text" name="figure[name]" value="<%= @figure.name %>" id="figure_name">

    <br><br>

    <h3>Check or/add new title: </h3>
   <% Title.all.each do |title| %>
        <lable for="title_<%= title.id %>"><%=title.name%></label>
        <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>" 'checked' if @figure.titles.include?(title)>
        <br>
    <% end %>
    <br>
    <label>New Title: </label><input type="text" name="title[name]" id="new_title">

    <br><br>

    <h3>Check or/add new landmark: </h3>
   <% Landmark.all.each do |landmark| %>
        <lable for="landmark_<%= landmark.id %>"><%=landmark.name%></label>
        <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>" 'checked' if @figure.landmarks.include?(landmark)>
        <br>
    <% end %>
    <br>
    <label>New Landmark Name: </label><input type="text" name="landmark[name]" id="new_landmark">
    <label>Year Completed: </label><input type="text" name="landmark[year_completed]">

    <br><br>

    <input type="submit" value="Edit Figure">


</form>